@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');



:root{
    --fonte-padrao: Verdana, Geneva, Tahoma, sans-serif;
    --fonte1: 'Passion One', cursive;
    --fonte2: 'Sriracha', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color: darkgrey;
    font-family: var(--fonte-padrao);
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte1);
    font-size: 10vw;
}

header p{
    padding-bottom: 50px;
}

header a, footer a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

header a:hover, footer a:hover{
    text-decoration: underline;
}

section{
    padding: 10vh 0px 10vh 30px;
    line-height: 2em;
    font-family: var(--fonte2);
    font-size: 3vw;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: #222020;
    color: white;
}

section.imagem > p{
    background-color: rgba(0, 0, 0, 0.253);
    display: inline-block;
    padding: 5px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}